
# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.env
env/

# Flutter / Dart
.dart_tool/
.packages
build/
.idea/
.vscode/

# Unity
[Ll]ibrary/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
*.csproj
*.sln
*.glb

# common
*.zip
*.apk
*.aab

node_modules/
.env
dist/
build/

# Firebase credentials (sensitive)
backend/config/firebaseAdmin.json
frontend/android/app/google-services.json
